html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
}

/*The widths are in a percentage!*/
header {
	width: 100%;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
	padding: 38px 0;
	width: 100%;
	text-align: center;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	width: 100%;
	padding: 46px 0;
	display: flex;
	justify-content: center;
}
header nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
header nav ul li {
	width: 100%;               /*set width 100% so that each items will be vertically aligned*/
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px;
	display: flex;
	justify-content: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.section-one h3,
.section-two h3,
.section-three h3 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.16em;
}

/***** Media queries for full responsive site *****/

@media all and (min-width: 768px) {
	/* Tablet style here */
	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		height: auto;
		border-top: 1px solid #eee;
	}

	.section-one {
		padding: 0 20px 0 0;
		box-sizing: border-box;
	}

	.section-two {
		padding: 0 20px;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		box-sizing: border-box;
	}

	.section-three {
		padding: 0 0 0 20px;
		box-sizing: border-box;
	}
}

@media all and (min-width: 1200px) {
	/* Desktop style here */
	header {
		flex-wrap: nowrap;
	}

	header h1 {
		width: 60%;
		text-align: left;
		border-bottom: none;
	}
	
	header nav {
		width: 40%;
		padding: 0;
	}

	header nav ul {
		justify-content: space-between;  
		flex-wrap: nowrap;
	}

	header nav ul li {
		width: auto;
		padding: 0;
	}
}